[submodule "docs/themes/book"]
	path = docs/themes/book
	url = https://github.com/getzola/book.git
[submodule "crates/tagged-box"]
	path = crates/tagged-box
	url = https://github.com/Kixiron/tagged-box
[submodule "ballast"]
	path = ballast
	url = https://github.com/Kixiron/ballast
[submodule "crates/ballast"]
	path = crates/ballast
	url = https://github.com/Kixiron/ballast
